{% extends "base.html" %}

{% block content %}
<h1>Study record</h1>

<table style="margin: auto; width: 350px;">
    <thead style="border-spacing: 200px;">
        <tr>
            <th>Qualification </th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for studyhistory in studyhistories %}
        <tr>
            <td><a href="{{ url_for('web_studyhistory.view_studyhistory', id=studyhistory.id)}}">{{ studyhistory.qualification_title }}</a></td>
            <td><a href="{{ url_for('web_studyhistory.update_studyhistory', id=studyhistory.id) }}">update</a></td>
            <td>
            <button>
                <form method="POST" action="{{ url_for('web_studyhistory.delete_studyhistory', id=studyhistory.id) }}">
                    {{ form.csrf_token }}
                    {{ form.submit }}
                </form>
            </button>   
            </td>      
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('web_studyhistory.create_studyhistory') }}">Create New Study History</a>

{% for message in get_flashed_messages() %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{ message }}
</div>
{% endfor %}

{% endblock %}