{% extends "base.html" %}

{% block content %}
<div class="formwrapper">

    {% for message in get_flashed_messages() %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ message }}
    </div>
    {% endfor %}

    <h3>Update Profile</h3>
    <form method="POST" action="/web/web_studyhistory/{{ id }}/update">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.qualification_title.label }}
            {{ form.job_title }}
            {% if form.job_title.errors %}
            <ul class="errors">
                {% for error in form.job_title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.institution.label }}
            {{ form.company }}
            {% if form.company.errors %}
            <ul class="errors">
                {% for error in form.company.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.city.label }}
            {{ form.city }}
            {% if form.city.errors %}
            <ul class="errors">
                {% for error in form.city.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.country.label }}
            {{ form.country }}
            {% if form.country.errors %}
            <ul class="errors">
                {% for error in form.country.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.date_start.label }}
            {{ form.date_start }}
            {% if form.date_start.errors %}
            <ul class="errors">
                {% for error in form.date_start.errors %}
                    <li>{{ error }} Use the YYYY-MM-DD format</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.date_end.label }}
            {{ form.date_end }}
            {% if form.date_end.errors %}
            <ul class="errors">
                {% for error in form.date_end.errors %}
                    <li>{{ error }} Use the YYYY-MM-DD format</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.submit }}
        </div>
    </form>
</div>

{% endblock %}